{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/material-darker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/actionscript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

<script>
  hljs.highlightAll();
  hljs.initLineNumbersOnLoad();
  
  document.addEventListener("DOMContentLoaded", function(){
    document.querySelectorAll("img.captioned").forEach(function(imgNode) {
      let classes = imgNode.classList.toString();
      imgNode.insertAdjacentHTML("beforebegin", "<div class='" + classes + "'>" + imgNode.outerHTML + "<span>"+ imgNode.alt+"</span></div>");
      imgNode.remove();
    });
  });
    
</script>
