<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-columns">
      <div>
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      </div>
      <div>
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {% include social.html %}
    </div>
  </div>

</footer>

{% include footer_scripts.html %}
