<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/actionscript.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js" defer></script>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad();
    });
</script>
