$base-font-family: "Quattrocento Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$content-width:    900px;
$default_featured_image: url(/images/default_featured_image.jpg);
